body{
    background-color: rgb(7, 8, 1);
}  
.letters{
    font-size: 100px;
    color: blue;
    text-align: center;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.letters div[id="1"]{
    color: red;
}
.letters div[id="2"]{
    color: yellow;
}
.letters div[id="3"]{
    color: green;
}
.letters div[id="4"]{
    color: blue;
}
.letters div[id="5"]{
    color: pink;
}
.letters div[id="6"]{
    color: aqua;
}
input{
width: 5cm;
height: 0.5cm;
border-width: 20cm;
border: 1px solid rgba(172, 168, 164, 0.397);
text-align: left;
color: black;
font-style: italic;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: none;
background-color: rgb(140, 173, 175);
margin: auto;
border-radius: 30px;
display: flex;
align-items: center;
justify-content: center;

}
button{
    border-radius: 8px;
    border: 1px solid whitesmoke;
    background-color: black;
    color: white;
    margin: auto;
    padding: 2px 4px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
button:hover{
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
    background-color: green;
}
